body {
  /* margin-top: 100px; */
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.routez {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 10px solid cyan;
  border-radius: 10px;
}

.grid div {
  width: 20px;
  height: 20px;
  /* background: rgb(56, 50, 63); */
}

.navContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  /* align-content: flex-start; */
  background-color: cyan;
  height: 80px;
  margin-bottom: 100px;
  padding: 20px;
  z-index: 9999;
}

.navbar {
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  top: 0;
  padding: 20px;
}

.navbar li {
  padding: 20px;
}

.navbar li:hover {
  /* color: pink; */
  cursor: pointer;
  text-decoration: underline 2px red;
  text-underline-offset: 0.4em;
  /* font-weight: bold; */
}

.navLink {
  text-decoration: none;
  padding: 20px;
}

.pacmanLogo {
  width: 200px;
}

.pacmanLogoLarge {
  width: 800px;
}

#home {
  display: flex;
  flex-direction: COLUMN;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 600px;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h2 {
  color: yellow;
}

.homeBtn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid yellow;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: yellow;
  text-align: center;
  transition: all 0.2s;
}

.homeBtn:hover {
  color: cyan;
  /* background-color: cyan; */
  border-color: cyan;
}

.homeRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 50px;
  margin-top: 40px;
}

#rules {
  color: white;
  display: flex;
  flex-direction: row;
  /* width: 700px; */
  /* height: 900px; */
  justify-content: center;
  align-items: center;
  padding: 50;
}

.rulesContainer {
  color: white;
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 800px;
  justify-content: center;
  align-items: center;
  margin: 50;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  position: sticky;
}

.startBtn {
  display: flex;
  background-color: cyan;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.startBtn:hover {
  background-color: yellow;
}

.score {
  color: cyan;
}

.pac-dot {
  background-color: rgb(252, 196, 91);
  border: 7px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.eatenPacDot {
  background-color: rgb(56, 50, 63);
}

.wall {
  background-color: black;
  /* border: 2px solid blue; */
}

.ghost-lair {
  background-color: rgb(56, 50, 63);
}

.empty {
  background-color: rgb(56, 50, 63);
}

.power-pellet {
  background-color: rgb(0, 252, 101);
  border: 3px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.pac-man {
  background-color: yellow;
  border: yellow;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: rgb(0, 0, 255);
}
