body {
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  color: white;
}

body {
  margin: 0;
}

.routez {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 10px solid cyan;
  border-radius: 10px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  background-color: cyan;
  height: 80px;
  margin-bottom: 100px;
  padding: 20px;
  z-index: 9999;
}

.navbar {
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  top: 0;
  padding: 20px;
}

.navbar li {
  padding: 20px;
}

.navbar li:hover {
  cursor: pointer;
  text-decoration: underline 2px red;
  text-underline-offset: 0.4em;
}

.navLink {
  text-decoration: none;
  padding: 20px;
}

.pacmanLogo {
  width: 200px;
}

.pacmanLogoLarge {
  width: 800px;
  margin-top: 175px;
}

#home {
  display: flex;
  flex-direction: COLUMN;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 600px;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: yellow;
  margin-bottom: 5px;
}

#home h5 {
  margin-top: 0px;
  margin-bottom: 30px;
}

#mintbean {
  text-decoration: none;
  color: cyan;
}

.technologies {
  display: flex;
  flex-direction: row;
}

.technology {
  width: 100%;
  height: 50px;
  display: block;
  margin: 0px 0 30px 10px;
}

.homeBtn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid yellow;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: yellow;
  text-align: center;
  transition: all 0.2s;
}

.homeBtn:hover {
  color: cyan;
  border-color: cyan;
}

.homeRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 50px;
  margin-top: 40px;
}

#rules {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100;
  margin-bottom: 200px;
  margin-top: 150px;
}

#rules h1 {
  font-size: 60px;
  margin: 0px;
}

#charactersTop {
  margin-top: 150px;
  font-size: 60px;
  color: white;
}

#rules img {
  width: 300px;
  height: 300px;
  margin: 40px;
}

#rules p {
  font-size: 25px;
  margin: 10px;
}

.rules-Characters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterShell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pacmanSquare {
  width: 20px;
  height: 20px;
  background-color: yellow;
  margin-right: 10px;
}

.ghosts {
  display: flex;
  flex-direction: row;
}

.pink {
  width: 20px;
  height: 20px;
  background-color: pink;
  margin-right: 10px;
}

.orange {
  width: 20px;
  height: 20px;
  background-color: orange;
  margin-right: 10px;
}
.cyan {
  width: 20px;
  height: 20px;
  background-color: cyan;
  margin-right: 10px;
}
.red {
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
}

.pacDots {
  display: flex;
  flex-direction: row;
}

.pacDot {
  width: 7px;
  height: 7px;
  background-color: rgb(252, 196, 91);
  margin-right: 10px;
}

.powerPellet {
  width: 18px;
  height: 18px;
  background-color: rgb(0, 252, 101);
  margin-right: 10px;
}

.keyboardDirections {
  background-color: grey;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin-right: 10px;
}

.rules-containers {
  display: flex;
  flex-direction: row;
  margin: 50px;
  width: 900px;
  align-items: center;
  justify-content: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  position: sticky;
}

.startBtn {
  display: flex;
  background-color: cyan;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.startBtn:hover {
  background-color: yellow;
}

.score {
  color: yellow;
  font-size: 20px;
}

.winningScore {
  color: cyan;
  font-size: 40px;
  animation: blinker 1s step-start infinite;
}

.losingScore {
  color: red;
  font-size: 40px;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.pac-dot {
  background-color: rgb(252, 196, 91);
  border: 7px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.eatenPacDot {
  background-color: rgb(56, 50, 63);
}

.wall {
  background-color: black;
}

.ghost-lair {
  background-color: rgb(56, 50, 63);
}

.empty {
  background-color: rgb(56, 50, 63);
}

.power-pellet {
  background-color: rgb(0, 252, 101);
  border: 3px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.pac-man {
  background-color: yellow;
  border: yellow;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: rgb(0, 0, 255);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0px;
  left: 0px;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
  height: 50px;
  padding: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.footerContainer img {
  width: 70px;
}

.footerContainer a {
  text-decoration: none;
  color: black;
}

.footerContainer p {
  font-size: 12px;
  text-align: center;
  margin: 0px;
}

.footerContainer span {
  margin-left: 20px;
  font-size: 12px;
  letter-spacing: 0;
  transition: all 315ms ease-in-out;
}

.footerContainer span:hover {
  letter-spacing: 5px;
}

.meetEng {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#katelyn {
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 0px;
}

#copywrite {
  font-size: 10px;
  color: rgb(193, 189, 189);
}
