body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 10px solid cyan;
  border-radius: 10px;
}

.grid div {
  width: 20px;
  height: 20px;
  /* background: rgb(56, 50, 63); */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* align-content: flex-start; */
  background-color: cyan;
  height: 80px;
  margin-bottom: 50px;
  padding: 20px;
}

.navLink {
  text-decoration: none;
  padding: 20px;
}

.homeContainer {
  color: white;
  display: flex;
  flex-direction: row;
  width: 700px;
  /* justify-content: center;
  align-items: center; */
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startBtn {
  display: flex;
  background-color: cyan;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.startBtn:hover {
  background-color: yellow;
}

.score {
  color: cyan;
}

.pac-dot {
  background-color: rgb(252, 196, 91);
  border: 7px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.eatenPacDot {
  background-color: rgb(56, 50, 63);
}

.wall {
  background-color: black;
  /* border: 2px solid blue; */
}

.ghost-lair {
  background-color: rgb(56, 50, 63);
}

.empty {
  background-color: rgb(56, 50, 63);
}

.power-pellet {
  background-color: rgb(0, 252, 101);
  border: 3px solid rgb(56, 50, 63);
  box-sizing: border-box;
}

.pac-man {
  background-color: yellow;
  border: yellow;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: rgb(0, 0, 255);
}
